exportPattern("^[[:alpha:]]+")
import(gam, pheatmap, wordcloud, RColorBrewer, BiocParallel, data.table)
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "fisher.test", "phyper", "quantile")